@charset "utf-8";
body {
	width: 100vw;
	height: 100vh;
	margin-top: 0px;
	margin-right: 0px;
	padding-top: 122px;
	padding-bottom: 122px;
	margin-bottom: 1px;
	background-image: url(../Footbal%20kala.jpg);
	padding-right: 122px;
	padding-left: 122px;
	margin-left: 0px;
	display: inherit;
	clear: left;
	max-height: 100vmax;
	max-width: 100em;
	min-height: 100vh;
	min-width: 100px;
}
note{
	float: right;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}